.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35rem;
    background-image:url('../imgs/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
}

.btnHome{
    width: 30rem;
    height: 10rem;
    appearance: button;
    background-color: rgb(197,90,17);
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: transparent 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    line-height: 20px;
    margin: 0.5rem;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    font-family: cursive;
}

.btn:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.btn:not([disabled]):active {
    box-shadow: transparent 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }


